<div class="full-screen-container">

  <div class="container-recipe">
    <%= cl_image_tag @recipe.photo, class: "banner-image-recipe" %>
    <div class="recipe-body">
      <div class="recipe-info">
        <h1> <%=@recipe.name.upcase%></h1>
        <h3><i class="fa fa-clock-o" aria-hidden="true"></i><%=@recipe.time%> minutes</h3>
        <h3><i class="fa fa-users" aria-hidden="true"></i><%=@recipe.serves%> serves</h3>
      </div>
      <div class="recipe-description text-center">
        <h1>RECETTE</h1>
        <h2><%= simple_format @recipe.description %></h2>
      </div>
    </div>
  </div>

</div>




