<div class="banner-group" style="background-image: linear-gradient(rgba(50,50,50,0.6), rgba(50,50,50,0.1)), url('<%= image_path 'cover-group.png' %>');">
  <h1 class="group-title"><%= @group.name.upcase %></h1>
</div>

<div class="showpage-group">
  <div class="container">
    <div class="group-show-container flex-column">
      <div class="group-schedule text-center">
        <h2>GROUP SCHEDULE</h2>
        <div class="group-avatars">
          <% @group.memberships.each do |membership| %>
            <div class="group-avatar box-shadow" style="background-image: url('<%= cl_image_path membership.user.photo %>');">
            </div>
          <% end %>
        </div>
        <div class="calendar-perso">
          <div class="row">
            <% x = 0 %>
            <% while x < 9 do %>
              <div class="col-xs-12 col-md-4">
                <div class="calendar-date">
                  <p><%= (Date.today + x.days).strftime("%A, %b %d")%></p>
                  <% DateRecipe.get_todays_group_recipes(Date.today + x.days).each do |dr| %>
                    <%= link_to dr.group_recipe.recipe.name, recipe_path(dr.group_recipe.recipe) %> by <%= dr.user.first_name %>
                    <%= cl_image_tag dr.user.photo, class: "group-avatar" %>
                  <% end %>
                </div>
              </div>
              <% x += 1 %>
            <% end %>
          </div>
        </div>

      <div class="group-recipes group-background-card flex-column text-center">
        <h2>GROUP RECIPES</h2>
        <% if @group.group_recipes.count == 0 %>
          <p>No recipes ...</p>
        <% else %>
        <div class="row">
          <% @group.group_recipes.each do |gr| %>
          <div class="col-xs-12 col-md-4">
            <%= link_to recipe_path(gr.recipe) do %>
              <div class="card-group" style="background-image: url(<%= cl_image_path gr.recipe.photo %>);">
              </div>
            <% end %>
          </div>
          <%= link_to "Add to the calendar",  new_group_recipe_date_recipe_path(gr) %>
          <% end %>
        </div>
        <% end %>



      <div class="invitation-form flex-column">
        <p>Invite a friend to join <%= @group.name %></p>
        <%= render 'invitations/form', group: @group, invitation: @invitation %>
      </div>
    </div>
  </div>
  </div>
