<div class="banner-group" style="background-image: linear-gradient(rgba(50,50,50,0.6), rgba(50,50,50,0.1)), url('<%= image_path 'cover-group.png' %>');">
  <h1 class="group-title"><%= @group.name.upcase %></h1>
</div>

<div class="showpage-group">
  <div class="container">
    <div class="group-show-container flex-column">
      <div class="group-schedule group-background-card text-center">
        <div class="group-avatars">
        <% @group.memberships.each do |membership| %>
          <div class="group-avatar box-shadow" style="background-image: url('<%= cl_image_path membership.user.photo %>');">
          </div>
        <% end %>
      </div>
        <h2>GROUP SCHEDULE</h2>
      </div>
      <div class="group-recipes group-background-card flex-column text-center">
        <h2>GROUP RECIPES</h2>
        <% if @group.group_recipes.count == 0 %>
          <p>No recipes ...</p>
        <% else %>
        <div class="row">
          <% @group.group_recipes.each do |gr| %>
          <div class="col-xs-12 col-md-4">
            <div class="card-group" style="background-image: url(<%= cl_image_path gr.recipe.photo %>);">

            </div>
          </div>
          <% end %>
        </div>
        <% end %>



      <div class="invitation-form flex-column">
        <p>Invite a friend to join <%= @group.name %></p>
        <%= render 'invitations/form', group: @group, invitation: @invitation %>
      </div>
    </div>
  </div>
</div>
